<div class="container-fluid" [hidden]="ended">
   <div class="row">
      <div class="col-sm-6 offset-3">
         <div class="main_cont">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="head">Serbian Cities Quiz</h1>
               </div>
            </div>
            <br>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="col-sm-11 offset-1">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="float-left text_bld">OBLAST: {{oblast}}</div>
                           </div>
                           <div class="col-sm-6">
                              <div class="float-right text_bld">{{vremeSec}}</div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-group col-sm-12">
                              <input  id="src" [(ngModel)]="search" type="text" class="form-control" (keyup)="citySearch($event)" autofocus>
                              </div>
                              <div class="col-sm-12">
                                 <ul *ngIf="search.length" class="list-group allCitiesList">
                                    <li *ngFor="let item of searchedArr; let i = index" (click)="clickCity(item,i)" class="list-group-item d-flex justify-content-between align-items-center allCitiesItem">{{item}}</li>
                                 </ul>
                              </div>
                           </div>
                           <br>
                              <div class="row">
                                 <div class="col-sm-6 offset-6">
                                    <button type="button" class="btn btn-success btn-md btn-block" (click)="addCity()">Add</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="col-sm-11">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="text_bld">Lista ubacenih gradova</div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <ul class="list-group clickedCitiesList">
                                       <li *ngFor="let item of clickedArr; let i = index" class="list-group-item justify-content-between align-items-center clickedCity">{{item}}

                                          <div class="badge badge-primary badge-pill" (click)="deleteCity(item, i)">X</div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <br>
                                 <div class="row">
                                    <div class="col-sm-6 offset-6">
                                       <button type="button" class="btn btn-danger btn-md btn-block" (click)="checkAnswers()" [disabled]="!clickedArr.length">Finish</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <app-results [hidden]="!ended"></app-results>
