.main_cont {
   margin-top: 20px;
   height: 650px;
   background: #0143A3;
   box-shadow: 0px 0px 10px white;
   border-radius: 4px;
}

.head {
   margin: 25px;
   text-align: center;
   color: white;
   text-shadow: 0px 0px 3px #5DA5E3;
}

.list_wrap {
   background: white;
   height: 100px;
}

.text_bld {
   color: orange;
   padding-bottom: 10px;
}

.white {
   border: 1px solid silver;
   color: white;
}

.badge {
   position: absolute;
   right: 10px;
   top: 10px;
   cursor: pointer;
   transition: all .2s;
   width: 30px;
   height: 30px;
   border-radius: 10px;
   text-align: center;
   font-size: 15px;
   line-height: 1.5;
}

.badge:hover {
   background: red;
}

.allCitiesItem {
   height: 12px;
   border-radius: 0px;
   cursor: pointer;
   transition: all .5;
}
.allCitiesItem:hover {
   background: orange;
}

.allCitiesList {
   max-height: 320px;
   overflow-x: hidden;
}

.clickedCitiesList {
   height: 360px;
   box-shadow: 0px 0px 5px silver;
   border-radius: 4px;
   padding: 3px;
   background: #ecf7f9;
   overflow-x: auto;
}

.clickedCity {
   height : 50px;
   transition: all .2s;
   background: silver;
}

.clickedCity:hover {
   background: #B1B3B2;
}
