<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6 offset-3">
         <div class="main_cont">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="head">Serbian Cities Quiz</h1>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-5 offset-1">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="float-left text_bld">OBLAST:</div>
                     </div>
                     <div class="col-sm-6">
                        <div class="float-right text_bld">Vreme: 00:00</div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                           <button class="btn btn-outline-secondary dropdown-toggle white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                           <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                           </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-5">
                     <div class="row">
                        <div class="col-sm-12">
                           <span class="text_bld">Lista ubacenih gradova</span>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                 <span class="badge badge-primary badge-pill">X</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in
                                 <span class="badge badge-primary badge-pill">X</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
                                 <span class="badge badge-primary badge-pill">X</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
